<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>PearScale</title>

    <link rel="stylesheet" href="/style.css" media="screen">
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>

    <script src="/index.js"></script>
    <script src="/dao.js"></script>
    <script src="/pearTemplate.js"></script>

    {{!-- header is here since it will be everywhere on the site --}}
    <a href="/"><h1 class="site-title">PearScale</h1></a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="/fresh">Fresh</a></li>
            <li class="navitem navlink"><a href="/ripe">Ripe</a></li>

            {{#if sessionUser}} {{!-- if user is logged in replace login button with a link to user page --}}
                <li class="navitem navlink" id="account-button"><a
                        href="/users/{{sessionUser.Username}}">{{sessionUser.Username}}</a></li>
                <li class="navitem logout" id="logout-button"><a href="#">Logout</a></li>
            {{/if}}
            {{#unless sessionUser}}
                <li class="navitem login" id="login-button"><a href="#">Login</a></li>
            {{/unless}}

            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Find the pearfect pear...">
                <button type="button" id="navbar-search-button"><a href="#"></a><i class="fas fa-search"></i></button>
            </li>
        </ul>
    </nav>

</head>

<body>

{{{body}}}

</body>

<div id="modal-backdrop" class="hidden"></div>
<div id="login-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Login</h3>
            <button type="button" class="modal-close-button" id="login-close-button">&times;</button>
        </div>

        <div class="modal-body">

            <div class="modal-input-element">
                <label for="username-input">Username</label>
                <input type="text" id="username-input">
            </div>
            <div class="modal-input-element">

                <label for="password-input">Password</label>
                <input type="password" id="password-input">
            </div>
        </div>

        <div class="modal-footer">

            <button type="button" class="modal-accept-button" id="create-account-button">Create Account</button>
            <button type="button" class="modal-cancel-button" id="login-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="login-login-button">Login</button>
        </div>
    </div>
</div>

<div id="create-account-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Create Account</h3>
            <button type="button" class="modal-close-button" id="create-account-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="modal-input-element">
                <label for="ca-username-input">Username</label>
                <input type="text" id="ca-username-input">
            </div>
            <div class="modal-input-element">
                <label for="ca-password-input">Password</label>
                <input type="password" id="ca-password-input">
            </div>
            <div class="modal-input-element">
                <label for="ca-password-confirm-input">Confirm Password</label>
                <input type="password" id="ca-password-confirm-input">
            </div>
            <div class="modal-input-element">
                <label for="ca-email-input">Email</label>
                <input type="text" id="ca-email-input">
            </div>
            <div class="modal-input-element">
                <label for="ca-birthday-input">Birthday</label>
                <input type="date" id="ca-birthday-input">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button" id="create-account-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="create-account-confirm-button">Create Account</button>
        </div>
    </div>
</div>

</html>