<header>

    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
    {{!-- TODO: STYLE THIS ICON --}}
    {{!-- <img class="pear_icon" src="pear_icon.png"></img> --}}

</header>

<main class="pear-container">
    <button type="button" id="create-pear-button"><img id="pear-icon" src="pear_icon.png" width=40 height=40/></button>
    {{#each pears}}
        {{> pear}}
    {{/each}}
</main>


<div id="create-pear-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Post a Pear</h3>
            <button type="button" class="modal-close-button" id="pear-close-button">&times;</button>
        </div>

        <form action="/slices/upload" enctype="multipart/form-data" method="post">
            <div class="modal-body">
                <div class="modal-input-element">
                    <label for="pear-title-input">Title</label>
                    <input type="text" id="pear-title-input" name="title">
                </div>
                <div class="modal-input-element">
                    <label for="pear-image-input">Image link</label>
                    <input type="file" id="pear-image-input" name="image">
                </div>
                <div class="modal-input-element">
                    <label for="pear-description-input">Description</label>
                    <textarea id="pear-description-input" placeholder="Optional"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="modal-cancel-button" id="pear-cancel-button">Cancel</button>
                    <input type="submit" class="modal-accept-button" id="pear-accept-button" value="Post"></input>
                </div> 
            </div>
        </form>

    </div>
</div>
