<div class="user-container">
    {{#if selfPage}}
        <h1 class="user-line1">welcome home <p class="user-name">{{userInfo.Username}}</p></h1>
    {{/if}}
    {{#unless selfPage}}
        <h1 class="user-line1">welcome to the home of <p class="user-name">{{userInfo.Username}}</p></h1>
    {{/unless}}
    <div class="pear-container">
        {{#if selfPage}}
            {{#if pears}}
                <h2>Your pears:</h2>
            {{/if}}
            {{#unless pears}}
                <h2>You haven't posted any pears yet :(</h2>
            {{/unless}}
        {{/if}}

        {{#unless selfPage}}
            {{#if pears}}
                <h2>Pears posted by {{userInfo.Username}}:</h2>
            {{/if}}
            {{#unless pears}}
                <h2>This user hasn't posted any pears yet :(</h2>
            {{/unless}}
        {{/unless}}

        {{#each pears}}
            {{> pear}}
        {{/each}}
    </div>

</div>