.Modal {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 100px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
    position: fixed;
    z-index: 9999;
    left: 40%;
    top: 10%;
    border: 1px solid black;
    filter: drop-shadow(0 0 0.75rem black);
}

.ModalHeader {
    position: relative;
    padding: 10px 20px;
}

.ModalHeader h3 {
    margin: 0;
    font-size: 28px;
}

.ModalCloseButton {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.ModalBody {
    padding: 20px;
    padding-bottom: 70px;
}

.ModalBodyInput {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.ModalBodyInput label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.ModalBodyInput input,
.ModalBodyInput textarea {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.ModalBodyInput textarea {
    min-height: 64px;
}

.ModalFooter {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 10px 20px 10px;
}

.ModalFooter button, 
.ModalCancelButton {
    font-size: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.ModalFooter button:hover {
    background-color: var(--header-green);
}