.UserContainer {
    margin-left: 10px;
    display: inline;
}

.UserLine1 {
    margin-left: 10px;
}

.Username {
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0;
    display: inline;
    font-weight: bolder;
    font-size: 40px;
    color: var(--header-green);
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Username:hover {
    cursor: default;
}